@keyframes sway {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-50px);
    }

    40% {
        transform: translateX(+50px);
    }

    60% {
        transform: translateX(-25px);
    }

    80% {
        transform: translateX(+25px);
    }

    100% {
        transform: translateX(0);
    }
}

.passcodeng {
    animation: sway 1s linear;
}